[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
nagiosplugin = "==1.2.4"
PyMySQL = "==0.7.11"
dnspython = "==1.15.0"

[requires]
python_version = "2.7"
