[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
"flake8-docstrings" = "*"
"flake8-import-order" = "*"
"pep8-naming" = "*"
"flake8-colors" = "*"

[packages]
nagiosplugin = "==1.2.4"
PyMySQL = "==0.7.11"
dnspython = "==1.15.0"

[requires]
python_version = "2.7"
